
@{
    ViewBag.Title = "Trang dành cho mod";
    Layout = "~/Areas/Mod/Views/Shared/_ModLayout.cshtml";
}

<h2>Chào @ViewBag.Name</h2>
<hr />
<ul>
    <li>
        Tạo và quản lý các bài viết của bạn ngay bây giờ bằng cách nhấp vào các menu bên cạnh.

    </li>
    <li>
        Mọi thắc mắc bạn gửi về mail <i>nkhuongduy2005@gmail.com</i> để nhận được sự hỗ trợ.
    </li>
</ul>
<p>
    <b>Cảm ơn sự đóng góp của bạn cho chúng tôi ^^ <span class="fa-thumbs-o-up"></span></b>
</p>