@{
    ViewBag.Title = "Về tác giả";
}
<div class="col-md-12">
    <h2 class="margin-vert-20">Về Tác Giả</h2>
    <div class="row margin-bottom-30">
        <div class="col-md-12 animate fadeInLeft">
            <p>
                Trang tin tức tân thanh niên Đông Nam Á
                <br>Chuyên cung cấp cho bạn đọc các vấn đề về lĩnh vực công nghệ trong cuộc sống hiện nay, các thiết bị số, và đặc biệt
                hơn là về bộ môn thể thao điện tử đang hot nhất hiện nay</br>
            </p>
            <p class="text-center">
                <img style="margin:0 auto" src="~/Images/about.png" />
            </p>
            <p class="margin-bottom-30">

            </p>
        </div>

    </div>

</div>